{% extends 'core/base.html' %}

{% load static %}

{% block titlepage %}
Post Gallery
{% endblock %}

{% block principal %}

    <!-- Details Gallery Section Begin -->
    <div class="details-gallery-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dg-slider owl-carousel">
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-13.png' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-14.jpeg' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-15.png' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Gallery Section End -->

    <!-- Details Post Section Begin -->
    <section class="details-post-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="details-text gallery-page">
                        <div class="dt-title-gallery details-hero-text">
                            <div class="label"><span>Dark Souls I</span></div>
                            <div class="label"><span>Galeria</span></div>
                            <h3>Santuario de Amana</h3>
                            <ul>
                                <li>by <span>Admin</span></li>
                                <li><i class="fa fa-clock-o"></i> 30 de Noviembre, 2024</li>
                            </ul>
                        </div>
                        <div class="dt-desc">
                            <p>Santuario de Amana es una de las ubicaciones más místicas y llenas de tragedia de Dark Souls II. Este santuario, ubicado en la región de las Tierras Altas, está marcado por un paisaje acuático y desolado, con una atmósfera cargada de misterio, peligro y secretos olvidados. El Santuario de Amana es un lugar donde lo divino y lo profano se entrelazan, y donde la naturaleza y la magia oscura coexisten en un eterno ciclo de sufrimiento y sacrificio.</p>
                        </div>
                        <div class="dt-quote">
                            <p>“ La pureza del agua ha sido corrompida, y la oscuridad ahora fluye en sus venas. ” - <span>Esta frase refleja la transformación del santuario, de un lugar de adoración y pureza a un sitio marcado por la decadencia y la magia oscura, donde el ciclo de corrupción y muerte nunca parece detenerse.</span></p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Historia y contexto</h5>
                            <p>
                                El Santuario de Amana es un lugar sagrado, cuya historia está profundamente marcada por la devoción y el culto a la Diosa de Amana. Se cree que, en tiempos antiguos, este lugar fue un centro de adoración y pureza, donde la gente buscaba la salvación a través de rituales que invocaban la protección divina. Sin embargo, con el paso del tiempo, el santuario fue corrompido, y la magia oscura comenzó a tomar control de las aguas y la tierra.       
                            </p>
                            <p>
                                El santuario está sumido en un estado de decrepitud, con el agua cubriendo sus antiguos pasillos y sus monumentos siendo arrastrados por las corrientes. Las ruinas, las estatuas rotas y los altares olvidados son los vestigios de una civilización perdida. Los ecos de la adoración pasada aún resuenan en las aguas, pero ahora se ha transformado en un lugar peligroso y distorsionado, donde las criaturas que habitan en sus profundidades son tanto una manifestación de la pureza caída como de la oscuridad que consume el mundo.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>La Magia oscura de Amana</h5>
                            <p>
                                Una de las características más inquietantes del Santuario de Amana es la presencia de la magia oscura. Esta magia, que en su origen era utilizada para la protección y la curación, ha sido corrompida con el tiempo, transformándose en un poder destructivo. Las hechiceras y las criaturas del santuario están impregnadas con esta magia, que se manifiesta en ataques a distancia que pueden aniquilar a los desprevenidos con una facilidad mortal. La conexión entre la magia y las aguas del santuario refleja el poder imparable de esta energía corrompida, que arrastra todo lo que toca hacia la perdición.
                            </p>
                            <p>
                                La propia estructura del santuario, rodeada de aguas profundas, parece estar atrapada en un ciclo sin fin de descomposición, como si el agua misma se hubiese convertido en un medio para purgar el mal y la oscuridad del mundo. Esta presencia de la magia oscura es el recordatorio constante de que, incluso los lugares dedicados a la luz, pueden caer en la oscuridad.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>El paso por el Santuario de Amana</h5>
                            <p>
                                El Santuario de Amana es una de las áreas más desafiantes de Dark Souls II, debido a su difícil navegación y la constante amenaza de las criaturas y hechiceras que lo habitan. La zona, inundada por aguas traicioneras, está plagada de trampas, enemigos y una sensación de opresión. El jugador no solo debe enfrentarse a los enemigos en combate, sino también a los peligros del terreno resbaladizo, lo que convierte a esta área en una de las más complicadas en términos de movilidad.
                            </p>
                            <p>
                                En el trasfondo de esta lucha, el santuario parece ser una representación de la lucha contra el olvido, donde la decadencia de la civilización es inevitable, pero también un reflejo de la lucha por encontrar redención en un mundo consumido por la oscuridad.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Elementos Significativos</h5>
                        </div>
                        <div class="dt-pic-item">
                            <div class="dp-text">
                                <ul>
                                    <li><strong>La Magia Oscura:</strong> La magia en el Santuario de Amana es un símbolo del poder corrupto que transforma la luz en oscuridad, una representación de cómo incluso lo divino puede caer en la perversión.</li>
                                    <p></p>
                                    <li><strong>Las Aguas:</strong> Las aguas del santuario son un elemento central de este lugar, representando tanto la purificación como la corrupción. Son el medio por el que los rituales y sacrificios de la Diosa de Amana fueron ejecutados, y ahora son el vehículo de la decadencia.</li>
                                    <p></p>
                                    <li><strong>Los Enemigos y sus Trasfondos:</strong> Las hechiceras y criaturas de Amana, antes devotas, son ahora sombras de lo que fueron, marcadas por el sufrimiento y la condena. Su existencia misma refleja la fragilidad de la esperanza y el poder de la oscuridad.</li>
                                    <p></p>
                                </ul>
                            </div>
                        </div>
                        <div class="dt-last-desc mt-5">
                            <p>El Santuario de Amana es una de las áreas más misteriosas y desoladas de Dark Souls II. Se encuentra en un paisaje acuático, lleno de ruinas y rodeado por aguas oscuras que han sido corrompidas por la magia. En tiempos antiguos, el santuario fue un lugar sagrado de devoción a la diosa de Amana, pero con el paso del tiempo, la corrupción y la oscuridad lo han transformado en un sitio peligroso y decadente.</p>
                        </div>
                        <div class="dt-tags">
                            <a href="{% url 'categoriassouls' %}"><span>Volver a Galeria</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="sidebar-option">
                        <div class="social-media">
                            <div class="section-title">
                                <h5>Redes Sociales</h5>
                            </div>
                            <ul>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-facebook"></i></div>
                                    <span class="text-white"><a href="https://es-la.facebook.com/fromsoftware.jp/about/">Facebook</a></span>
                                    <div class="follow">1,2k Follow</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="bi bi-twitter-x"></i></div>
                                    <span class="text-white"><a href="https://x.com/fromsoftware_pr?lang=es">Twitter</a></span>
                                    <div class="follow">1,2k Follow</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-youtube-play"></i></div>
                                    <span class="text-white"><a href="https://www.youtube.com/user/FromSoftwareInc">Youtube<a/></span>
                                    <div class="follow">2,3k Subs</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-instagram"></i></div>
                                    <span><a class="text-white" href="https://www.instagram.com/fromsoftware_jp/?hl=es">Instagram</a></span>
                                    <div class="follow">2,6k Follow</div>
                                </li>
                            </ul>
                        </div>
                        <div class="hardware-guides">
                            <div class="section-title">
                                <h5>Más de Dark Souls</h5>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-1.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'postgallery' %}">Irithyll del Valle Boreal</a>
                                    </h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 20, 2024</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-2.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAnor' %}">Anor Londo</a></h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-3.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAriandel' %}">Cenizas de Ariandel</a>
                                    </h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-4.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAmana' %}">Santuario de Amana</a></h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Details Post Section End -->

{% endblock %}