{% extends 'core/base.html' %}

{% load static %}

{% block titlepage %}
Post Gallery
{% endblock %}

{% block principal %}

    <!-- Details Gallery Section Begin -->
    <div class="details-gallery-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dg-slider owl-carousel">
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-19.png' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-20.png' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-21.jpg' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-22.jpg' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Gallery Section End -->

    <!-- Details Post Section Begin -->
    <section class="details-post-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="details-text gallery-page">
                        <div class="dt-title-gallery details-hero-text">
                            <div class="label"><span>Elden Ring</span></div>
                            <div class="label"><span>Galeria</span></div>
                            <h3>El Palacio de Nokron, la Ciudad Eterna</h3>
                            <ul>
                                <li>by <span>Admin</span></li>
                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                            </ul>
                        </div>
                        <div class="dt-desc">
                            <p>El Palacio de Nokron, la Ciudad Eterna es uno de los lugares más enigmáticos y visualmente fascinantes de Elden Ring. Este antiguo reino subterráneo, lleno de misterio y belleza, destaca por su arquitectura surrealista y su atmósfera onírica. Nokron es un lugar de esplendor olvidado, marcado por una conexión profunda con lo divino, lo arcano y lo celestial, lo que lo convierte en una pieza central dentro del vasto universo del juego.</p>
                        </div>
                        <div class="dt-quote">
                            <p>“ En la eterna oscuridad de Nokron, el tiempo se disuelve, y las sombras de los dioses perdidos todavía susurran su verdad. ” - <span>Esta frase captura la atmósfera de misterio, belleza y decadencia de la ciudad, así como la sensación de que Nokron guarda secretos que solo los más valientes o sabios pueden desvelar.</span></p>
                        </div>
                            <p>A lo largo del juego, los personajes y el entorno subrayan que la luz y la esperanza suelen ser ilusorias, mientras que la oscuridad y la muerte, aunque temibles, son inevitables y, en cierto sentido, liberadoras. En Irithyll, la luz es más un engaño que una guía, y el frío perpetuo de la ciudad refleja esa verdad sombría.</p>
                        <div class="dt-item mt-5">
                            <h5>Historia y contexto</h5>
                            <p>
                                El Palacio de Nokron fue una vez una ciudad próspera y espiritual, construida por una civilización avanzada que tenía una profunda conexión con los dioses y las fuerzas cósmicas. Se dice que Nokron fue fundada como un centro de adoración y conocimiento, y que su arquitectura refleja una búsqueda de la inmortalidad y la comprensión del cosmos.
                            </p>
                            <p>
                                A medida que la historia del juego avanza, Nokron se presenta como una ciudad caída, sujeta a la oscuridad y el olvido. La ciudad, que alguna vez fue un faro de luz y conocimiento, ahora se encuentra desmoronada y desolada, como un reflejo de la descomposición de sus ideales. Su conexión con el Elden Ring y con las fuerzas que lo rodean hace que el Palacio de Nokron sea un lugar clave en la narrativa del juego, con el jugador enfrentándose a los secretos ocultos en sus pasillos y ruinas.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>La Arquitectura y su Simbolismo</h5>
                            <p>
                                La arquitectura del Palacio de Nokron es uno de sus mayores atractivos visuales. La ciudad se caracteriza por una serie de estructuras grandes y flotantes, con columnas que se alzan hacia el cielo y plataformas suspendidas en el aire. Las paredes y techos de la ciudad están cubiertos de adornos dorados y plateados, y las estatuas que decoran sus pasillos reflejan una estética divina y celestial.
                            </p>
                            <P>
                                Lo más impresionante de Nokron es su capacidad para fusionar lo gótico con lo surrealista. Las columnas se entrelazan con raíces que parecen crecer desde las profundidades del suelo, y los techos están adornados con luminosos cristales y piedras preciosas, que le dan un aire etéreo y sobrenatural. Esta fusión de lo orgánico y lo divino refleja el intento de la ciudad por conectar el plano terrenal con el plano celestial.
                            </P>
                            <P>
                                La oscuridad que rodea a Nokron es otro de sus aspectos más significativos. Aunque la ciudad está llena de esplendor, también está marcada por la decadencia. Las ruinas cubiertas de musgo y raíces y las vistas de cielos estrellados transmiten la sensación de que el tiempo ha pasado por encima de ella, dejando a la ciudad en un estado de abandono y silenciosa tristeza. Este contraste entre la grandeza pasada y el presente deterioro es un reflejo de la caída de la ciudad y de la búsqueda fallida por alcanzar la inmortalidad.
                            </P>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>El Palacio de Nokron y su relación con el Mundo de Elden Ring</h5>
                            <p>
                                El Palacio de Nokron es una de las zonas más misteriosas y fascinantes en la exploración de Elden Ring. El jugador se enfrenta a un lugar lleno de secretos y enemigos que, a menudo, parecen desafiar la lógica del mundo en que se encuentran. La ciudad subterránea está llena de ruinas flotantes, plataformas suspendidas y líneas de visión distorsionadas, lo que refuerza su carácter de un lugar sobrenatural.
                            </p>
                            <p>
                                La zona está plagada de enemigos que habitan las sombras y seres cósmicos que protegen los secretos de la ciudad. A medida que el jugador explora el Palacio de Nokron, se va descubriendo más sobre su historia, su relación con los dioses y las fuerzas que lo moldearon. La exploración de Nokron se convierte en una búsqueda de respuestas sobre el origen de las fuerzas que rigen el mundo, pero también un enfrentamiento con las consecuencias de la arrogancia de quienes intentaron dominar lo divino.
                            </p>
                            <P>
                                Uno de los eventos clave en el Palacio de Nokron es el enfrentamiento con los jefes que resguardan los secretos del palacio, incluyendo la batalla contra Radahn, un guerrero que tiene un vínculo con la ciudad y cuya derrota tiene un gran impacto en el destino del jugador y la historia del mundo.
                            </P>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Elementos Significativos</h5>
                        </div>
                        <div class="dt-pic-item">
                            <div class="dp-text">
                                <ul>
                                    <li><strong>Arquitectura Surrealista y Celestial:</strong> Las columnas flotantes, las esculturas divinas y las estructuras suspendidas en el aire son símbolos de la conexión entre lo terrenal y lo divino. Nokron es una ciudad que se construyó para desafiar las leyes del tiempo y el espacio.</li>
                                    <p></p>
                                    <li><strong>Raíces y Naturaleza Orgánica:</strong> La fusión entre la arquitectura y la vegetación que parece salir de las paredes de la ciudad refleja la idea de una ciudad que, aunque construida para lo celestial, no puede evitar la influencia de lo terrenal y lo natural.</li>
                                    <li><strong>El Misterio de los Dioses:</strong> Los templos, altares y figuras representadas en el Palacio de Nokron están todos relacionados con seres cósmicos y deidades olvidadas, lo que hace de este lugar un sitio crucial para entender la mitología del juego.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dt-last-desc mt-5">
                            <p>El Palacio de Nokron, la Ciudad Eterna, es uno de los lugares más complejos y fascinantes de Elden Ring. Su arquitectura surrealista, su atmósfera etérea y su vínculo con los dioses y las fuerzas cósmicas lo convierten en un lugar lleno de misterio y poder. A través de la exploración de Nokron, el jugador se adentra en los secretos de un mundo caído, buscando respuestas sobre los dioses y el Elden Ring, pero también enfrentando las consecuencias de la ambición divina. La ciudad es, sin duda, un reflejo de la dualidad de la existencia en el universo de Elden Ring: el deseo de alcanzar la inmortalidad y el precio que se paga por ello.</p>
                        </div>
                        <div class="dt-tags">
                            <a href="{% url 'categoriaselden' %}"><span>Volver a Galeria</span></a>
                        </div>

                    </div>
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="sidebar-option">
                        <div class="social-media">
                            <div class="section-title">
                                <h5>Redes Sociales</h5>
                            </div>
                            <ul>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-facebook"></i></div>
                                    <span class="text-white"><a href="https://es-la.facebook.com/fromsoftware.jp/about/">Facebook</a></span>
                                    <div class="follow">1,2k Follow</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="bi bi-twitter-x"></i></div>
                                    <span class="text-white"><a href="https://x.com/fromsoftware_pr?lang=es">Twitter</a></span>
                                    <div class="follow">1,2k Follow</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-youtube-play"></i></div>
                                    <span class="text-white"><a href="https://www.youtube.com/user/FromSoftwareInc">Youtube<a/></span>
                                    <div class="follow">2,3k Subs</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-instagram"></i></div>
                                    <span><a class="text-white" href="https://www.instagram.com/fromsoftware_jp/?hl=es">Instagram</a></span>
                                    <div class="follow">2,6k Follow</div>
                                </li>
                            </ul>
                        </div>
                        <div class="hardware-guides">
                            <div class="section-title">
                                <h5>Descubre Dark Souls</h5>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-1.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'postgallery' %}">Irithyll del Valle Boreal</a>
                                    </h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 20, 2024</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-2.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAnor' %}">Anor Londo</a></h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-3.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAriandel' %}">Cenizas de Ariandel</a>
                                    </h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-4.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAmana' %}">Santuario de Amana</a></h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Details Post Section End -->

{% endblock %}