{% extends 'core/base.html' %}

{% load static %}

{% block titlepage %}
Post Gallery
{% endblock %}

{% block principal %}

    <!-- Details Gallery Section Begin -->
    <div class="details-gallery-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dg-slider owl-carousel">
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-16.jpg' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-17.jpg' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-18.jpg' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Gallery Section End -->

    <!-- Details Post Section Begin -->
    <section class="details-post-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="details-text gallery-page">
                        <div class="dt-title-gallery details-hero-text">
                            <div class="label"><span>Elden Ring</span></div>
                            <div class="label"><span>Galeria</span></div>
                            <h3>La Capital Real Leyndell</h3>
                            <ul>
                                <li>by <span>Admin</span></li>
                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                            </ul>
                        </div>
                        <div class="dt-desc">
                            <p>
                                La Capital Real Leyndell es uno de los lugares más imponentes y significativos en Elden Ring, tanto por su arquitectura como por su importancia en la narrativa. Representa la cúspide del poder en el mundo de las Tierras Intermedias, siendo el centro del reino de los Elden y el hogar de los grandes gobernantes del mundo. A través de su diseño visual, Leyndell refleja la grandeza de un imperio que ha caído, convirtiéndose en una ruina majestuosa, impregnada de historia, misterio y tragedia.</p>
                        </div>
                        <div class="dt-quote">
                            <p>“ En su cenit, la capital irradiaba un resplandor divino. Ahora, solo queda la sombra de su gloria. ” - <span>Esta frase captura la esencia de Leyndell como un símbolo de decadencia, donde la magnificencia del pasado se ha desvanecido, dejando a la ciudad sumida en el olvido, pero aún con vestigios de su antiguo esplendor.</span></p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Historia y contexto</h5>
                            <p>
                                Leyndell fue una vez la joya del reino de los Elden, una ciudad próspera que servía como centro de poder y conocimiento en el mundo. Era el hogar del Elden Señor y un lugar de gran importancia religiosa y política. La ciudad fue construida con un estilo arquitectónico grandioso, reflejando la magnificencia de los dioses y la influencia de los Elden.       
                            </p>
                            <p>
                                A lo largo de los eventos que conforman Elden Ring, Leyndell experimenta una caída, y la ciudad se ve envuelta en el caos cuando el poder del Elden Lord se debilita y las fuerzas oscuras toman el control. La ciudad, aunque aún imponente, está plagada de ruinas y signos de su descomposición, una representación visual de su deterioro político y espiritual.
                            </p>
                            <p>
                                La capital está gobernada por figuras de gran poder, incluidos los miembros de la familia real, cuya historia está vinculada a la lucha por el poder y el dominio sobre el Elden Ring. La caída de Leyndell también refleja el colapso de un orden previamente establecido, y su historia se entrelaza con los temas de poder, corrupción y sacrificio.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>La Arquitectura y su Simbolismo</h5>
                            <p>
                                Leyndell es conocida por su arquitectura monumental y su diseño que transmite una sensación de grandiosidad. La ciudad está llena de grandes murallas y torres de piedra, columnas adornadas con detalles dorados, y una estructura radial que destaca en su diseño. Las calles de Leyndell están pavimentadas con piedra dorada, lo que le otorga un aire de riqueza y poder.
                            </p>
                            <p>
                                Uno de los elementos más destacados de la ciudad es su gran plaza central, flanqueada por majestuosos edificios que reflejan la gloria de la civilización que alguna vez floreció en esta ciudad. Las estructuras están cubiertas de vegetación, y las ruinas dispersas indican el paso del tiempo y la destrucción. La capital tiene un claro contraste entre su esplendor pasado y su estado actual, creando una atmósfera de decadencia y olvido.
                            </p>
                            <p>
                                Además, el Cielo de la Capital es una de las zonas más importantes dentro de Leyndell, ubicada en lo alto de la ciudad. Esta área es accesible a través de grandes escaleras y puentes de piedra, y representa la conexión entre el cielo y la tierra, una conexión que se ha visto rota a medida que la ciudad se ha desmoronado.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Leyndell y su relación con el Mundo de Elden Ring</h5>
                            <p>
                                La Capital Real es un punto clave en el viaje del jugador. A medida que se avanza por la ciudad, se experimenta una transformación en la narrativa, ya que el jugador se enfrenta a los efectos del colapso de la civilización. El jugador no solo recorre un escenario visualmente impresionante, sino que también se enfrenta a los Guardianes de la Ciudad y a otros enemigos que protegen los secretos de la capital.
                            </p>
                            <p>
                                El viaje a través de Leyndell es crucial, ya que marca el final de una era y el inicio de un nuevo ciclo. La ciudad simboliza tanto la grandeza caída como la posibilidad de renacimiento a través de la confrontación con sus pasados oscuros. La batalla contra el Elden Lord o la Reina Marika refleja el enfrentamiento final con el poder que alguna vez definió la capital.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Elementos Significativos</h5>
                        </div>
                        <div class="dt-pic-item">
                            <div class="dp-text">
                                <ul>
                                    <li><strong>El Diseño Radial de la Ciudad:</strong> La estructura centralizada de Leyndell, con sus múltiples niveles y caminos que convergen en el núcleo de la ciudad, refleja el poder que emanaba de su corazón.</li>
                                    <p></p>
                                    <li><strong>La Magia Dorada:</strong> Los elementos dorados de la ciudad no solo representan la riqueza, sino también el poder divino que gobernaba las Tierras Intermedias, una estética que se refleja en los hechizos de luz dorada y en la presencia de figuras con armaduras doradas.</li>
                                    <p></p>
                                    <li><strong>La Presencia de los Dioses y la Familia Real:</strong> Los restos de la realeza, templos y monumentos dedicados a las deidades y figuras míticas de Leyndell son claves para entender el simbolismo de la ciudad. La arquitectura de la capital también está marcada por estatuas y altares que remiten a la divinidad.</li>
                                    <p></p>
                                </ul>
                            </div>
                        </div>
                        <div class="dt-last-desc mt-5">
                            <p>Leyndell, la Capital Real, es una de las zonas más visualmente impresionantes y temáticamente profundas de Elden Ring. Su diseño arquitectónico refleja la grandeza de una civilización perdida, marcada por la lucha por el poder y la caída inevitable del reino. La ciudad, llena de ruinas doradas, edificaciones sagradas y paisajes decadentes, simboliza tanto el triunfo como el colapso de los Elden y su influencia en el mundo.</p>
                        </div>
                        <div class="dt-tags">
                            <a href="{% url 'categoriaselden' %}"><span>Volver a Galeria</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="sidebar-option">
                        <div class="social-media">
                            <div class="section-title">
                                <h5>Redes Sociales</h5>
                            </div>
                            <ul>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-facebook"></i></div>
                                    <span class="text-white"><a href="https://es-la.facebook.com/fromsoftware.jp/about/">Facebook</a></span>
                                    <div class="follow">1,2k Follow</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="bi bi-twitter-x"></i></div>
                                    <span class="text-white"><a href="https://x.com/fromsoftware_pr?lang=es">Twitter</a></span>
                                    <div class="follow">1,2k Follow</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-youtube-play"></i></div>
                                    <span class="text-white"><a href="https://www.youtube.com/user/FromSoftwareInc">Youtube<a/></span>
                                    <div class="follow">2,3k Subs</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-instagram"></i></div>
                                    <span><a class="text-white" href="https://www.instagram.com/fromsoftware_jp/?hl=es">Instagram</a></span>
                                    <div class="follow">2,6k Follow</div>
                                </li>
                            </ul>
                        </div>
                        <div class="hardware-guides">
                            <div class="section-title">
                                <h5>Descubre Dark Souls</h5>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-1.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'postgallery' %}">Irithyll del Valle Boreal</a>
                                    </h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 20, 2024</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-2.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAnor' %}">Anor Londo</a></h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-3.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAriandel' %}">Cenizas de Ariandel</a>
                                    </h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-4.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAmana' %}">Santuario de Amana</a></h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Details Post Section End -->

{% endblock %}