{% extends 'core/base.html' %}

{% load static %}

{% block titlepage %}
Post Gallery
{% endblock %}

{% block principal %}

    <!-- Details Gallery Section Begin -->
    <div class="details-gallery-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dg-slider owl-carousel">
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-5.jpeg' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-6.png' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-7.png' %}"></div>
                        <div class="dg-item set-bg" data-setbg="{% static 'core/img/details/gallery/gallery-8.jpg' %}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Details Gallery Section End -->

    <!-- Details Post Section Begin -->
    <section class="details-post-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0">
                    <div class="details-text gallery-page">
                        <div class="dt-title-gallery details-hero-text">
                            <div class="label"><span>Dark Souls I</span></div>
                            <div class="label"><span>Galeria</span></div>
                            <h3>Anor Londo</h3>
                            <ul>
                                <li>by <span>Admin</span></li>
                                <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                            </ul>
                        </div>
                        <div class="dt-desc">
                            <p>Anor Londo es una de las ubicaciones más icónicas y esenciales de Dark Souls. Esta ciudad, conocida por su belleza celestial y arquitectura monumental, es un lugar clave tanto en la historia del juego como en la mitología del universo de Dark Souls. Anor Londo está ubicada en las alturas, sobre un abismo de oscuridad, y es conocida por ser la morada de los dioses antiguos, particularmente los Vigilantes de Anor Londo y el Sol. Sin embargo, la ciudad también guarda secretos oscuros que revelan una caída trágica y el fin de una era dorada.</p>
                        </div>
                        <div class="dt-quote">
                            <p>“ Anor Londo, la ciudad de los dioses, es nuestra herencia. Y este lugar es nuestra última defensa. ” - <span>Esta cita refleja tanto el orgullo como la desesperación de Gwyndolin al intentar mantener la ilusión de la grandeza de los dioses.</span></p>
                        </div>
                            <p>Una de las frases más emblemáticas relacionadas con Anor Londo proviene de Gwyndolin, el último hijo de Gwyn, quien habla sobre la ilusión que mantiene sobre la ciudad para preservar el legado de los dioses. La frase se encuentra cuando el jugador se enfrenta a Gwyndolin en el Santuario de la Luna.</p>
                        <div class="dt-item mt-5">
                            <h5>Historia y contexto</h5>
                            <p>
                                Anor Londo, en su apogeo, fue la ciudad más gloriosa de Lordran, hogar de los dioses y la luz. Su majestuosidad se debe a la influencia de Gwyn, Señor de la Luz Solar, quien gobernaba sobre los dioses y las fuerzas de la luz. La ciudad está formada por enormes estructuras de mármol y oro, reflejo del poder de los dioses, con sus elegantes palacios y enormes columnas que aún permanecen en pie a pesar del paso del tiempo y la decadencia.
                            </p>
                            <p>
                                Durante su esplendor, Anor Londo fue el centro de la lucha contra las fuerzas de la oscuridad, un lugar donde los dioses y los humanos coexistían bajo el influjo del Sol. Sin embargo, la ciudad cayó en la oscuridad debido a la prolongada guerra contra los primordiales y la decadencia del propio Gwyn. Su amor por la luz y la lucha contra la oscuridad causaron que Anor Londo se desmoronara poco a poco, y que las deidades se distanciaran del mundo mortal, dejando a la ciudad en ruinas.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Vínculo con Gwyn</h5>
                            <p>
                                La figura central de Anor Londo es Gwyn, el Señor de la Luz Solar, quien es conocido por su sacrificio en la lucha contra el Señor Oscuro, Nito, y la Serpiente Primordial, Francesca. Gwyn trajo la luz al mundo de Lordran y gobernó en Anor Londo con justicia y sabiduría. Sin embargo, a medida que los años pasaron, Gwyn comenzó a perder su poder debido a su sacrificio por la luz, y su cuerpo fue despojado de su resplandor.
                            </p>
                            <p>
                                La caída de Anor Londo es una consecuencia directa de este sacrificio, ya que Gwyn, para evitar la propagación de la oscuridad, sacrificó su propia vida para mantener encendida la Llama Primordial. A medida que su luz se desvaneció, la ciudad comenzó a caer en el olvido y la decadencia.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Anor Londo y su relación con el Mundo de Dark Souls</h5>
                            <p>
                                Anor Londo es un punto de inflexión en la travesía del jugador. El paso por esta ciudad marca el avance hacia la conclusión de la historia de Lordran y su relación con la Llama y la oscuridad. Los Vigilantes de la Luna y la Ilusión de Gwynevere son elementos fundamentales en el desarrollo de la narrativa, y el jugador se enfrenta a estos secretos mientras explora la ciudad y enfrenta a Gwyndolin en una batalla crucial.
                            </p>
                            <p>
                                El lugar también se caracteriza por su atmósfera opresiva y su lucha simbólica entre la luz y la oscuridad. Anor Londo, con sus vistas doradas y majestuosas, está marcada por la presencia de la oscuridad subyacente que acecha detrás de la imagen de perfección que ofrece la ciudad. La caída de los dioses se refleja en los pasillos vacíos, las ruinas y el ambiente sombrío que ha reemplazado lo que alguna vez fue un reino brillante.
                            </p>
                        </div>
                        <div class="dt-item mt-5">
                            <h5>Elementos Significativos</h5>
                        </div>
                        <div class="dt-pic-item">
                            <div class="dp-text">
                                <ul>
                                    <li><strong>El Sol y la Luz:</strong> La figura del Sol, representada por Gwyn y los dioses del fuego, es central en Anor Londo. El juego constantemente destaca el contraste entre la luz del Sol y la creciente oscuridad.</li>
                                    <p></p>
                                    <li><strong>El Engaño de Gwynevere:</strong> La ilusión de la diosa Gwynevere es un tema crucial en la historia de la ciudad, lo que refleja la decadencia y el engaño en el reino de los dioses.</li>
                                    <p></p>
                                    <li><strong>Los Vigilantes de la Luna:</strong> La figura de Gwyndolin y sus seguidores representa el intento de preservar el legado de los dioses, incluso a través de la manipulación y el control.</li>
                                    <p></p>
                                    <li><strong>La Arquitectura y la Atmósfera:</strong> Anor Londo es conocida por sus enormes estructuras doradas, pero bajo esta belleza se oculta una profunda tristeza y decadencia, un reflejo de la caída de la gloria de los dioses.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="dt-last-desc mt-5">
                            <p>Anor Londo es un lugar lleno de historia, magia y tragedia. Su esplendor pasado contrasta con su presente decadente y la ilusión de su gloria. El paso por Anor Londo en Dark Souls representa una de las etapas más cruciales y profundas del viaje del jugador, donde se enfrentan a la caída de los dioses, la verdad sobre la luz y la oscuridad, y las decisiones que definirán el futuro del mundo.</p>
                        </div>
                        <div class="dt-tags">
                            <a href="{% url 'categoriassouls' %}"><span>Volver a Galeria</span></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-7">
                    <div class="sidebar-option">
                        <div class="social-media">
                            <div class="section-title">
                                <h5>Redes Sociales</h5>
                            </div>
                            <ul>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-facebook"></i></div>
                                    <span class="text-white"><a href="https://es-la.facebook.com/fromsoftware.jp/about/">Facebook</a></span>
                                    <div class="follow">1,2k Follow</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="bi bi-twitter-x"></i></div>
                                    <span class="text-white"><a href="https://x.com/fromsoftware_pr?lang=es">Twitter</a></span>
                                    <div class="follow">1,2k Follow</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-youtube-play"></i></div>
                                    <span class="text-white"><a href="https://www.youtube.com/user/FromSoftwareInc">Youtube<a/></span>
                                    <div class="follow">2,3k Subs</div>
                                </li>
                                <li>
                                    <div class="sm-icon"><i class="fa fa-instagram"></i></div>
                                    <span><a class="text-white" href="https://www.instagram.com/fromsoftware_jp/?hl=es">Instagram</a></span>
                                    <div class="follow">2,6k Follow</div>
                                </li>
                            </ul>
                        </div>
                        <div class="hardware-guides">
                            <div class="section-title">
                                <h5>Más de Dark Souls</h5>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-1.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'postgallery' %}">Irithyll del Valle Boreal</a>
                                    </h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Nov 20, 2024</li>
                                        <li><i class="fa fa-comment-o"></i> 5</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-2.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAnor' %}">Anor Londo</a></h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-3.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAriandel' %}">Cenizas de Ariandel</a>
                                    </h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="trending-item">
                                <div class="ti-pic">
                                    <img src="{% static 'core/img/trending/trending-4.png' %}" alt="">
                                </div>
                                <div class="ti-text">
                                    <h6><a href="{% url 'GalleryAmana' %}">Santuario de Amana</a></h6>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i> Aug 01, 2019</li>
                                        <li><i class="fa fa-comment-o"></i> 12</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Details Post Section End -->

{% endblock %}