{% extends 'core/base.html' %} {% load static %} {% block titlepage %} Build de
Silmeria Valkyrie {% endblock %} {% block principal %}

<!-- Details Hero Section Begin -->
<section
  class="details-hero-section set-bg"
  data-setbg="{% static 'core/img/details/build-banner.jpg' %}"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="details-hero-text">
          <div class="label"><span>Dark Souls I</span></div>
          <h3>Build: Silmeria Valkyrie</h3>
          <ul>
            <li>by <span>Admin</span></li>
            <li><i class="fa fa-clock-o"></i> Nov 11, 2024</li>
            <li><i class="fa fa-comment-o"></i> 20</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Details Hero Section End -->

<!-- Details Post Section Begin -->
<section class="details-post-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 p-0">
        <div class="details-text">
          <div class="dt-desc">
            <div class="section-title">
                <h5>Descripción</h5>
            </div>
            <p></p>
            <p><strong>Nombre de la Build:</strong> Silmeria Valkyrie</p>
            <p><strong>Nivel de Build:</strong> 80 (Nuevo Juego) - 145 (NG+)</p>
            <p><strong>Enfoque de Build:</strong> PvE</p>
            <p><strong>Clase:</strong> Ladrón</p>
            <p>
              Inspirada en Silmeria, la valquiria más joven del juego Valkyrie
              Profile 2, esta construcción se centra únicamente en ataques a
              distancia. Silmeria usa un arco y su habilidad final es una lanza
              de relámpago (o sagrada), y esto define el estilo de juego para
              esta build.
            </p>
          </div>
          <div class="dt-pic-item mt-5">
            <div class="dp-text">
                <div class="section-title">
                    <h5>Atributos (Nivel 80 - 145)</h5>
                </div>
              <p><strong>Atributos a nivel 80 (Final del Primer Juego):</strong></p>
              <ul>
                <li>Vitalidad: 27</li>
                <li>Sintonización: 16</li>
                <li>Resistencia: 23</li>
                <li>Fuerza: 9</li>
                <li>Destreza: 30</li>
                <li>Resistencia: 10</li>
                <li>Inteligencia: 18</li>
                <li>Fe: 30</li>
                <li>Humanidad: 1</li>
              </ul>
              <p><strong>Atributos a nivel 145 (Final de NG+):</strong></p>
              <ul>
                <li>Vitalidad: 50</li>
                <li>Sintonización: 28</li>
                <li>Resistencia: 23</li>
                <li>Fuerza: 9</li>
                <li>Destreza: 40</li>
                <li>Resistencia: 10</li>
                <li>Inteligencia: 16</li>
                <li>Fe: 50</li>
                <li>Humanidad: 1</li>
              </ul>
            </div>
          </div>
          <div class="dt-pic-item">
            <div class="dp-pic">
              <img src="{% static 'core/img/builds/Silmeria.png' %}" alt="" />
            </div>
            <div class="dp-text mt-4">
                <div class="section-title">
                    <h5>Equipo</h5>
                </div>
              <ul>
                <li><strong>Mano derecha:</strong> Arco Negro de Pharis [Oculto +5], Talismán de Lona / Talismán de Luz de Luna Oscura (NG+)</li>
                <li><strong>Mano izquierda:</strong> Llama de Piromancia, Catalizador del Hechicero / Catalizador de Marfil de Oolacile (NG+)</li>
                <li><strong>Cabeza:</strong> Yelmo de Gárgola</li>
                <li><strong>Pecho:</strong> Armadura de Paladín</li>
                <li><strong>Manos:</strong> Guanteletes de Latón</li>
                <li><strong>Piernas:</strong> Grebas de Latón</li>
                <li><strong>Anillo 1:</strong> Anillo del Primogénito del Sol</li>
                <li><strong>Anillo 2:</strong> Anillo del Halcón</li>
              </ul>
            </div>
          </div>
          <div class="dt-pic-item">
            <div class="dp-text mt-5">
                <div class="section-title">
                    <div class="section-title">
                        <h5>Armas</h5>
                    </div>
                </div>
              <ul>
                <li><strong>Arco Negro de Pharis [Oculto +5]:</strong> Caído de Pharis, la arquera en el bosque.</li>
                <li><strong>Talismán de Luz de Luna Oscura:</strong> Rango 1 en el pacto de la Luna Oscura.</li>
                <li><strong>Llama de Piromancia:</strong> Rescata a Laurentius en las Profundidades y háblale en el Santuario del Enlace de Fuego.</li>
                <li><strong>Catalizador del Hechicero:</strong> En la misma habitación donde salvas a Griggs.</li>
                <li><strong>Catalizador de Marfil de Oolacile:</strong> Cómpralo a Dusk de Oolacile (1000 almas).</li>
              </ul>
            </div>
          </div>
          <div class="dt-pic-item">
            <div class="dp-text mt-5">
                <div class="section-title">
                    <h5>Armaduras</h5>
                </div>
              <ul>
                <li><strong>Yelmo de Gárgola:</strong> Se obtiene de la última gárgola eliminada en Anor Londo si no se obtuvo antes.</li>
                <li><strong>Armadura del Paladín:</strong> Mata al Paladín Leeroy en el camino hacia Nito; después, la encontrarás en su sala de encuentro.</li>
                <li><strong>Guanteletes y Grebas de Latón:</strong> Después de derrotar a Gwyndolin, encuentra un cofre al final del pasillo.</li>
              </ul>
            </div>
          </div>
          <div class="dt-pic-item">
            <div class="dp-text mt-5">
                <div class="section-title">
                    <h5>Anillos</h5>
                </div>
              <ul>
                <li><strong>Anillo del Primogénito del Sol:</strong> En Anor Londo, al final del puente giratorio en la Tumba de la Luna Oscura.</li>
                <li><strong>Anillo del Halcón:</strong>Anillo En un cofre detrás del Herrero Gigante en Anor Londo.</li>
              </ul>
            </div>
          </div>
          <div class="dt-pic-item">
            <div class="dp-text mt-5">
                <div class="section-title">
                    <h5>Hechizos Recomendados</h5>
                </div>
              <ul>
                <li><strong>Luz de Fundido:</strong> Cómpralo a Dusk de Oolacile (1000 almas) en el lago tras derrotar a la hidra y al gólem.</li>
                <li><strong>Remedio:</strong> Cruza la rama en la cima de la noria en Ciudad Infestada.</li>
                <li><strong>Gran Curación:</strong> Cómpralo a Reah de Thorolund (10000 almas).</li>
                <li><strong>Poder Interior:</strong> En Ciudad Infestada, debajo del Parásito de la Pared.</li>
                <li><strong>Gran Barrera Mágica:</strong> En el árbol de los Basiliscos, accediendo desde una rama hueca en el exterior.</li>
                <li><strong>Ira de los Dioses:</strong> Cómpralo a Reah de Thorolund (10000 almas).</li>
                <li><strong>Lanza Relámpago:</strong> Únete al pacto de Guerreros de la Luz Solar.</li>
                <li><strong>Gran Lanza Relámpago:</strong> Llega al rango 1 en el pacto de Guerreros de la Luz Solar.</li>
                <li><strong>Lanza Solar:</strong> Ofrece el alma de Gwyn durante el NG+, debes tener rango 1 en el pacto de Guerreros de la Luz Solar.</li>
              </ul>
            </div>
          </div>
          <div class="dt-pic-item">
            <div class="dp-text mt-5">
                <div class="section-title">
                    <h5>Consumibles</h5>
                </div>
              <ul>
                <li><strong>Flecha de Luz de Luna:</strong> Cómpralo al Herrero Gigante en Anor Londo (500 almas).</li>
                <li><strong>Flecha de Fuego:</strong> Cómpralo a la Mercader No Muerta (100 almas).</li>
                <li><strong>Bomba de Fuego Negra:</strong> Cómpralo al Mercader Crestfallen en la cima de la Fortaleza de Sen (500 almas).</li>
              </ul>
            </div>
          </div>
          <div class="dt-pic-item">
            <div class="dp-text mt-5">
                <div class="section-title">
                    <h5>Pactos</h5>
                </div>
              <ul>
                <li><strong>Espada de la Luna Oscura:</strong> Equipa el Anillo de la Sesión de Luna Oscura (en las Catacumbas) y arrodíllate en la puerta de niebla en la Tumba de la Luna Oscura en Anor Londo.</li>
                <li><strong>Guerreros de la Luz Solar:</strong> Detrás del dragón en Parroquia de los No Muertos.</li>
              </ul>
            </div>
          </div>
          <div class="dt-pic-item">
            <div class="dp-text mt-5 mb-5">
                <div class="section-title">
                    <h5>Ruta Sugerida</h5>
                </div>
              <ul>
                <li>La clase Ladrón comienza con la Llave Maestra; elige las Bombas Negras como obsequio inicial.</li>
                <li>Saquea el Santuario del Enlace de Fuego para conseguir equipo y consumibles; sube Vitalidad a 15.</li>
                <li>En Ciudad Infestada, cruza el Valle de los Dragones y activa el elevador.</li>
                <li>Limpia el Burgo de los No Muertos y derrota al jefe.</li>
                <li>Compra la Cresta a Andre por 20000 almas para desbloquear un área de farmeo y obtener el Arco Negro.</li>
                <li>Abre el atajo en la Parroquia de los No Muertos y salva a Griggs para comprar Flechas de Fuego.</li>
                <li>Entra en las Profundidades y desciende a Ciudad Infestada.</li>
                <li>Completa la Fortaleza de Sen para llegar a Anor Londo, compra Flechas de Luz de Luna y derrota a los jefes.</li>
                <li>Únete al pacto de Espada de la Luna Oscura en la Tumba de la Luna Oscura y derrota a Gwyndolin.</li>
                <li>Únete al pacto de Guerreros de la Luz Solar y acumula 10 Medallas de Luz Solar de los Insectos del Caos.</li>
                <li>Completa los Archivos del Duque y la Cueva de Cristal..</li>
                <li>Alcanza el Horno de la Primera Llama y finaliza el juego (nivel mínimo recomendado antes del NG+ es 80).</li>
              </ul>
            </div>
          </div>

          <div class="dt-tags">
            <a href="#"><span>Gaming</span></a>
            <a href="#"><span>Builds</span></a>
            <a href="#"><span>Dark Souls</span></a>
          </div>
          <div class="dt-related-post">
            <div class="row">
                <div class="col-lg-6">
                    <a href="{% url 'builds' %}" class="rp-prev">
                        <span>Volver a Builds</span>
                    </a>
                </div>
            </div>
        </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-7">
        <div class="sidebar-option">
          <div class="social-media">
            <div class="section-title">
              <h5>Redes Sociales</h5>
            </div>
            <ul>
              <li>
                <div class="sm-icon"><i class="fa fa-facebook"></i></div>
                <span class="text-white"><a href="https://es-la.facebook.com/fromsoftware.jp/about/">Facebook</a></span>
                <div class="follow">1,2k Follow</div>
              </li>
              <li>
                <div class="sm-icon"><i class="bi bi-twitter-x"></i></div>
                <span class="text-white"><a href="https://x.com/fromsoftware_pr?lang=es">Twitter</a></span>
                <div class="follow">1,2k Follow</div>
              </li>
              <li>
                <div class="sm-icon"><i class="fa fa-youtube-play"></i></div>
                <span class="text-white"><a href="https://www.youtube.com/user/FromSoftwareInc">Youtube<a/></span>
                <div class="follow">2,3k Subs</div>
              </li>
              <li>
                <div class="sm-icon"><i class="fa fa-instagram"></i></div>
                <span><a class="text-white" href="https://www.instagram.com/fromsoftware_jp/?hl=es">Instagram</a></span>
                <div class="follow">2,6k Follow</div>
              </li>
            </ul>
          </div>
          <div class="hardware-guides">
            <div class="section-title">
              <h5>Builds Destacadas</h5>
            </div>
            <div class="trending-item">
              <div class="ti-pic">
                <img
                  src="{% static 'core/img/builds/alastor-build.png' %}"
                  alt=""
                  style="max-width: 70px"
                />
              </div>
              <div class="ti-text">
                <h6><a href="{% url 'buildsAlastor' %}">Alastor</a></h6>
                <ul>
                  <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                  <li><i class="fa fa-comment-o"></i> 12</li>
                </ul>
              </div>
            </div>
            <div class="trending-item">
              <div class="ti-pic">
                <img
                  src="{% static 'core/img/builds/silmeria-build.png' %}"
                  alt=""
                  style="max-width: 70px"
                />
              </div>
              <div class="ti-text">
                <h6><a href="{% url 'buildsSilmeria'%}">Silmeria Valkyrie</a></h6>
                <ul>
                  <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                  <li><i class="fa fa-comment-o"></i> 12</li>
                </ul>
              </div>
            </div>
            <div class="trending-item">
              <div class="ti-pic">
                <img
                  src="{% static 'core/img/builds/reaper-build.png' %}"
                  alt=""
                  style="max-width: 70px"
                />
              </div>
              <div class="ti-text">
                <h6><a href="{% url 'buildsReaper' %}">Grim Reaper</a></h6>
                <ul>
                  <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                  <li><i class="fa fa-comment-o"></i> 12</li>
                </ul>
              </div>
            </div>
            <div class="trending-item">
              <div class="ti-pic">
                <img
                  src="{% static 'core/img/builds/belldany-build.png' %}"
                  alt=""
                  style="max-width: 70px"
                />
              </div>
              <div class="ti-text">
                <h6><a href="{% url 'buildsBelldandy' %}">Belldandy</a></h6>
                <ul>
                  <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                  <li><i class="fa fa-comment-o"></i> 12</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="insta-media">
            <div class="section-title">
              <h5>Instagram</h5>
            </div>
            <div class="insta-pic">
              <img src="{% static 'core/img/instagram/ip-1.jpg' %}" alt="" />
              <img src="{% static 'core/img/instagram/ip-2.jpg' %}" alt="" />
              <img src="{% static 'core/img/instagram/ip-3.jpg' %}" alt="" />
              <img src="{% static 'core/img/instagram/ip-4.jpg' %}" alt="" />
            </div>
          </div>
          <div class="best-of-post">
            <div class="section-title">
              <h5>Builds Mejor Valoradas</h5>
            </div>
            <div class="bp-item">
              <div class="bp-loader">
                <div class="loader-circle-wrap">
                  <div class="loader-circle">
                    <span
                      class="circle-progress-1"
                      data-cpid="id-1"
                      data-cpvalue="95"
                      data-cpcolor="#c20000"
                    ></span>
                    <div class="review-point">9.5</div>
                  </div>
                </div>
              </div>
              <div class="bp-text">
                <h6><a href="#">Alastor</a></h6>
                <ul>
                  <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                  <li><i class="fa fa-comment-o"></i> 20</li>
                </ul>
              </div>
            </div>
            <div class="bp-item">
              <div class="bp-loader">
                <div class="loader-circle-wrap">
                  <div class="loader-circle">
                    <span
                      class="circle-progress-1"
                      data-cpid="id-2"
                      data-cpvalue="85"
                      data-cpcolor="#c20000"
                    ></span>
                    <div class="review-point">8.5</div>
                  </div>
                </div>
              </div>
              <div class="bp-text">
                <h6><a href="#">Silmeria Valkyrie</a></h6>
                <ul>
                  <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                  <li><i class="fa fa-comment-o"></i> 20</li>
                </ul>
              </div>
            </div>
            <div class="bp-item">
              <div class="bp-loader">
                <div class="loader-circle-wrap">
                  <div class="loader-circle">
                    <span
                      class="circle-progress-1"
                      data-cpid="id-3"
                      data-cpvalue="80"
                      data-cpcolor="#c20000"
                    ></span>
                    <div class="review-point">8.0</div>
                  </div>
                </div>
              </div>
              <div class="bp-text">
                <h6><a href="#">Grim Reaper</a></h6>
                <ul>
                  <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                  <li><i class="fa fa-comment-o"></i> 20</li>
                </ul>
              </div>
            </div>
            <div class="bp-item">
              <div class="bp-loader">
                <div class="loader-circle-wrap">
                  <div class="loader-circle">
                    <span
                      class="circle-progress-1"
                      data-cpid="id-4"
                      data-cpvalue="75"
                      data-cpcolor="#c20000"
                    ></span>
                    <div class="review-point">7.5</div>
                  </div>
                </div>
              </div>
              <div class="bp-text">
                <h6><a href="#">Belldandy</a></h6>
                <ul>
                  <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                  <li><i class="fa fa-comment-o"></i> 20</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Details Post Section End -->

{% endblock %}
