{% extends 'core/base.html' %}

{% load static %}

{% block titlepage %}
Build de Alastor
{% endblock %}

{% block principal %}

<!-- Details Hero Section Begin -->
<section class="details-hero-section set-bg" data-setbg="{% static 'core/img/details/build-banner.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="details-hero-text">
                    <div class="label"><span>Dark Souls I</span></div>
                    <h3>Build: Belldandy</h3>
                    <ul>
                        <li>by <span>Admin</span></li>
                        <li><i class="fa fa-clock-o"></i> Nov 15, 2024</li>
                        <li><i class="fa fa-comment-o"></i> 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Details Hero Section End -->

<!-- Details Post Section Begin -->
<section class="details-post-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0">
                <div class="details-text">
                    <div class="dt-desc">
                        <div class="section-title">
                            <h5>Descripción</h5>
                        </div>
                        <p><strong>Nombre de la Build:</strong> Belldandy</p>
                        <p><strong>Nivel de Build:</strong> 80 (Nuevo Juego) - 145 (NG+)</p>
                        <p><strong>Enfoque de Build:</strong> PvE</p>
                        <p><strong>Clase:</strong> Clérigo</p>
                        <p>¡Eres una Diosa de Primera Clase, Belldandy! ¡Libera tu poder sagrado sobre este mundo!</p>
                    </div>
                    <div class="dt-pic-item mt-5">
                        <div class="dp-text">
                            <div class="section-title">
                                <h5>Atributos (Nivel 80 - 145 )</h5>
                            </div>
                            <p><strong>Atributos a nivel 80 (Final de Juego):</strong> </p>
                            <ul>
                                <li>Vitalidad: 30</li>
                                <li>Sintonización: 19</li>
                                <li>Resistencia: 11</li>
                                <li>Fuerza: 12</li>
                                <li>Destreza: 8</li>
                                <li>Resistencia: 11</li>
                                <li>Inteligencia: 41</li>
                                <li>Fe: 30</li>
                                <li>Humanidad: 10</li>                                
                            </ul>
                            <p><strong>Atributos a nivel 145 (Final de NG+):</strong> </p>
                            <ul>
                                <li>Vitalidad: 41</li>
                                <li>Sintonización: 28</li>
                                <li>Resistencia: 32</li>
                                <li>Fuerza: 12</li>
                                <li>Destreza: 8</li>
                                <li>Resistencia: 11</li>
                                <li>Inteligencia: 45</li>
                                <li>Fe: 50</li>
                                <li>Humanidad: 10</li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="dt-pic-item">
                        <div class="dp-pic">
                            <img src="{% static 'core/img/builds/Belldandy.png' %}" alt="">
                        </div>
                        <div class="dp-text mt-5">
                            <div class="section-title">
                                <h5>Equipo</h5>
                            </div>
                            <ul>
                                <li><strong>Mano derecha:</strong> Maza [Caos +5] + Catalizador de Logan</li>
                                <li><strong>Mano izquierda:</strong> Sanctus [Regular +12] + Talismán de Velka / Talismán de la Luna Oscura (NG+)</li>
                                <li><strong>Cabeza:</strong> Corona del Sol Oscuro / Corona del Ocaso (NG+)</li>
                                <li><strong>Pecho:</strong> Bata Sucia</li>
                                <li><strong>Manos:</strong> Guantes de Doncella / Brazalete del Gran Señor (NG+)</li>
                                <li><strong>Piernas:</strong> Falda de Doncella</li>
                                <li><strong>Anillo 1:</strong> Anillo del Primer Nacido del Sol</li>
                                <li><strong>Anillo 2:</strong> Anillo del Dragón Rugiente</li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="dt-pic-item">
                        <div class="dp-text mt-5">
                            <div class="section-title">
                                <h5>Armas</h5>
                            </div>
                            <ul>
                                <li><strong>Catalizador de Logan:</strong> Después de comprar todos los hechizos de Big Hat Logan en los Archivos y derrotar a Seath el Escamoso, habla con él una vez más. Luego recarga el área y aparecerá un cofre con su bastón y armadura en su lugar.</li>
                                <li><strong>Maza [Caos +5]:</strong> Objeto inicial de la clase Clérigo.</li>
                                <li><strong>Talismán de la Luna Oscura:</strong> Obtenido al dar 10 Souvenirs of Reprisal al Covenant Blade of the Dark Moon.</li>
                                <li><strong>Talismán de Velka:</strong> Vendido por Oswald de Carim (5000 almas).</li>
                                <li><strong>Sanctus [Regular +12]:</strong> Derrota a Paladín Leeroy en la Tumba de los Gigantes antes de la pelea contra el jefe.</li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="dt-pic-item">
                        <div class="dp-text mt-5">
                            <div class="section-title">
                                <h5>Armaduras</h5>
                            </div>
                            <ul>
                                <li><strong>Corona del Ocaso:</strong> Después de salvar a Dusk de Oolacile, vuelve al lugar donde estaba el cadáver frente a la Hidra y invócala, luego regresa al lugar donde encontraste al golem.</li>
                                <li><strong>Corona del Sol Oscuro:</strong> Comprada a Domhnall de Zena (10000 almas) después de matar a Gwyndolin.</li>
                                <li><strong>Bata Sucia:</strong> Caída por Anastacia de Astora después de hacer sonar ambas campanas del Despertar.</li>
                                <li><strong>Conjunto de Doncella:</strong> Puede encontrarse en un cadáver en los Archivos del Duque.</li>
                                <li><strong>Brazalete del Gran Señor:</strong> Comprado a Domhnall de Zena durante NG+.</li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="dt-pic-item">
                        <div class="dp-text mt-5">
                            <div class="section-title">
                                <h5>Anillos</h5>
                            </div>
                            <ul>
                                <li><strong>Anillo del Primer Nacido del Sol:</strong> Encontrado en Anor Londo, en la parte inferior del puente giratorio junto al punto de descanso.</li>
                                <li><strong>Anillo del Dragón Rugiente:</strong> Comprado a Griggs de Vinheim (20000 almas).</li>
                            </ul>
                        </div>
                    </div>
                    <div class="dt-pic-item">
                        <div class="dp-text mt-5">
                            <div class="section-title">
                                <h5>Hechizos Recomendados</h5>
                            </div>
                            <ul>
                                <li><strong>Gran Curación:</strong> Comprado a Reah de Thorolund (10000 almas).</li>
                                <li><strong>Regreso:</strong> Comprado a Reah de Thorolund (1000 almas).</li>
                                <li><strong>Ira de los Dioses:</strong> Comprado a Reah de Thorolund (10000 almas).</li>
                                <li><strong>Remedio:</strong> Cruza la rama en la parte superior de la rueda de agua en Blighttown.</li>
                                <li><strong>Luz:</strong> Comprado a Dusk de Oolacile (1000 almas).</li>
                                <li><strong>Lanza de Rayo:</strong> Únete al Covenant Guerrero de la Luz Solar.</li>
                                <li><strong>Gran Lanza de Rayo:</strong> Ofrece 10 Medallas de Luz Solar al Covenant Guerrero de la Luz Solar.</li>
                                <li><strong>Flecha de Alma:</strong> Comprada a Griggs o Logan (1000 almas).</li>
                                <li><strong>Gran Flecha de Alma:</strong> Comprada a Griggs o Logan (6000 almas).</li>
                                <li><strong>Flecha de Alma Pesada:</strong> Comprada a Griggs o Logan (2000 almas).</li>
                                <li><strong>Gran Flecha de Alma Pesada:</strong> Comprada a Griggs o Logan (8000 almas).</li>
                                <li><strong>Lanza de Alma:</strong> Comprada a Logan (40000 almas).</li>
                                <li><strong>Lanza de Alma Cristalizada:</strong> Comprada a Logan (50000 almas).</li>
                                <li><strong>Masa Cristalizada de Almas Guiadas:</strong> Comprada a Logan en la biblioteca de los Archivos del Duque después de liberarlo de su celda (30000 almas).</li>
                                <li><strong>Orbe Oscuro:</strong> Encontrado en el Pueblo Oolacile.</li>                                                               
                            </ul>
                        </div>
                    </div>
                    <div class="dt-pic-item">
                        <div class="dp-text mt-5">
                            <div class="section-title">
                                <h5>Consumibles</h5>
                            </div>
                            <ul>
                                <li><strong>Bomba de Fuego:</strong> Comprada a la Mercader No Muerta (50 almas).</li>
                                <li><strong>Bomba de Fuego Negra:</strong> Comprada a la Mercader Caída en lo alto de la Fortaleza de Sen (500 almas).</li>                                                             
                            </ul>
                        </div>
                    </div>
                    <div class="dt-pic-item">
                        <div class="dp-text mt-5 mb-5">
                            <div class="section-title">
                                <h5>Pactos</h5>
                            </div>
                            <ul>
                                <li><strong>Guerrero de la Luz Solar:</strong> Detrás del dragón en el Barrio No Muerto. Para recibir Medallas de Luz Solar, habla con Lautrec después de salvarlo, invita a Solaire para derrotar al jefe (manteniéndolo con vida), 3 se pueden encontrar en el castillo de Anor Londo y farmear Chaos Bugs (Ruinas del Demonio o Lost Izalith).</li>
                                <li><strong>Espada de la Luna Oscura:</strong> Equipa el Anillo de la Seance de la Luna Oscura (encontrado en las Catacumbas), arrodíllate en la puerta de niebla de la Tumba de la Luna Oscura (Anor Londo) para unirte, pero NO entres en la niebla. Farmear Harpies en el Mundo Pintado de Ariamis para Souvenirs of Reprisal.</li>
                                <li><strong>Camino Blanco:</strong> Habla con Petrus o Reah para unirte, quédate con este covenant durante el resto del juego.</li>                                
                            </ul>
                        </div>
                    </div>


                    <div class="dt-tags">
                        <a href="#"><span>Gaming</span></a>
                        <a href="#"><span>Builds</span></a>
                        <a href="#"><span>Dark Souls</span></a>
                    </div>
                    <div class="dt-related-post">
                        <div class="row">
                            <div class="col-lg-6">
                                <a href="{% url 'builds' %}" class="rp-prev">
                                    <span>Volver a Builds</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="sidebar-option">
                    <div class="social-media">
                        <div class="section-title">
                            <h5>Redes Sociales</h5>
                        </div>
                        <ul>
                            <li>
                                <div class="sm-icon"><i class="fa fa-facebook"></i></div>
                                <span class="text-white"><a href="https://es-la.facebook.com/fromsoftware.jp/about/">Facebook</a></span>
                                <div class="follow">1,2k Follow</div>
                            </li>
                            <li>
                                <div class="sm-icon"><i class="bi bi-twitter-x"></i></div>
                                <span class="text-white"><a href="https://x.com/fromsoftware_pr?lang=es">Twitter</a></span>
                                <div class="follow">1,2k Follow</div>
                            </li>
                            <li>
                                <div class="sm-icon"><i class="fa fa-youtube-play"></i></div>
                                <span class="text-white"><a href="https://www.youtube.com/user/FromSoftwareInc">Youtube<a/></span>
                                <div class="follow">2,3k Subs</div>
                            </li>
                            <li>
                                <div class="sm-icon"><i class="fa fa-instagram"></i></div>
                                <span><a class="text-white" href="https://www.instagram.com/fromsoftware_jp/?hl=es">Instagram</a></span>
                                <div class="follow">2,6k Follow</div>
                            </li>
                        </ul>
                    </div>
                    <div class="hardware-guides">
                        <div class="section-title">
                            <h5>Builds Destacadas</h5>
                        </div>
                        <div class="trending-item">
                            <div class="ti-pic">
                                <img src="{% static 'core/img/builds/alastor-build.png' %}" alt="" style="max-width: 70px;">
                            </div>
                            <div class="ti-text">
                                <h6><a href="{% url 'buildsAlastor' %}">Alastor</a>
                                </h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                            </div>
                        </div>
                        <div class="trending-item">
                            <div class="ti-pic">
                                <img src="{% static 'core/img/builds/silmeria-build.png' %}" alt="" style="max-width: 70px;">
                            </div>
                            <div class="ti-text">
                                <h6><a href="{% url 'buildsSilmeria' %}">Silmeria Valkyrie</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                            </div>
                        </div>
                        <div class="trending-item">
                            <div class="ti-pic">
                                <img src="{% static 'core/img/builds/reaper-build.png' %}" alt=""
                                    style="max-width: 70px;">
                            </div>
                            <div class="ti-text">
                                <h6><a href="{% url 'buildsReaper' %}">Grim Reaper</a>
                                </h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                            </div>
                        </div>
                        <div class="trending-item">
                            <div class="ti-pic">
                                <img src="{% static 'core/img/builds/belldany-build.png' %}" alt=""
                                    style="max-width: 70px;">
                            </div>
                            <div class="ti-text">
                                <h6><a href="{% url 'buildsBelldandy' %}">Belldandy</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                                    <li><i class="fa fa-comment-o"></i> 12</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="insta-media">
                        <div class="section-title">
                            <h5>Instagram</h5>
                        </div>
                        <div class="insta-pic">
                            <img src="{% static 'core/img/instagram/ip-1.jpg' %}" alt="">
                            <img src="{% static 'core/img/instagram/ip-2.jpg' %}" alt="">
                            <img src="{% static 'core/img/instagram/ip-3.jpg' %}" alt="">
                            <img src="{% static 'core/img/instagram/ip-4.jpg' %}" alt="">
                        </div>
                    </div>
                    <div class="best-of-post">
                        <div class="section-title">
                            <h5>Builds Mejor Valoradas</h5>
                        </div>
                        <div class="bp-item">
                            <div class="bp-loader">
                                <div class="loader-circle-wrap">
                                    <div class="loader-circle">
                                        <span class="circle-progress-1" data-cpid="id-1" data-cpvalue="95"
                                            data-cpcolor="#c20000"></span>
                                        <div class="review-point">9.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp-text">
                                <h6><a href="#">Alastor</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                                    <li><i class="fa fa-comment-o"></i> 20</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bp-item">
                            <div class="bp-loader">
                                <div class="loader-circle-wrap">
                                    <div class="loader-circle">
                                        <span class="circle-progress-1" data-cpid="id-2" data-cpvalue="85"
                                            data-cpcolor="#c20000"></span>
                                        <div class="review-point">8.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp-text">
                                <h6><a href="#">Silmeria Valkyrie</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                                    <li><i class="fa fa-comment-o"></i> 20</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bp-item">
                            <div class="bp-loader">
                                <div class="loader-circle-wrap">
                                    <div class="loader-circle">
                                        <span class="circle-progress-1" data-cpid="id-3" data-cpvalue="80"
                                            data-cpcolor="#c20000"></span>
                                        <div class="review-point">8.0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp-text">
                                <h6><a href="#">Grim Reaper</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                                    <li><i class="fa fa-comment-o"></i> 20</li>
                                </ul>
                            </div>
                        </div>
                        <div class="bp-item">
                            <div class="bp-loader">
                                <div class="loader-circle-wrap">
                                    <div class="loader-circle">
                                        <span class="circle-progress-1" data-cpid="id-4" data-cpvalue="75"
                                            data-cpcolor="#c20000"></span>
                                        <div class="review-point">7.5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="bp-text">
                                <h6><a href="#">Belldandy</a></h6>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i> Aug 01, 2024</li>
                                    <li><i class="fa fa-comment-o"></i> 20</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Details Post Section End -->

{% endblock %}